BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 300
BreakBeforeBraces: Attach
AlignTrailingComments: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortCaseLabelsOnASingleLine: true

